<!DOCTYPE html>
@{
	Layout = "";
}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
		<meta name="description" content="Login" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--<link rel="stylesheet" href="~/css/font/font.css" />-->
		<link href="~/publico/css/pages/login/classic/login-1.css" rel="stylesheet" type="text/css" />
		<link href="~/publico/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/publico/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/publico/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="~/publico/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
		<link href="~/publico/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="~/publico/media/logos/escudo.png" />
		<style>
			.border-radius-login{
				border-radius: 0px 5px 5px 0px !important;
			}

			.anchoBtnEye{
				width: 50px !important;
			}
		</style>
	</head>
	<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
		<div class="d-flex flex-column flex-root">
			<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
				<!--<div id="imgLogin" class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10" style="background-image: url(/publico/media/bg/fondo_dos.png);border-right: solid 0.5px;border-color: #8080804a;">-->
				<div id="imgLogin" class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10" style="background-image: url(/publico/media/bg/Fondo_Login_2.jpg);border-right: solid 0.5px;border-color: #8080804a;">
					<div class="d-flex flex-row-fluid flex-column justify-content-center">
						<a href="#" class="flex-column-auto mt-5 pb-lg-0 pb-10" style="text-align:center !important;">
							<img src="~/publico/media/logos/logo_transparente.png" class="max-h-140px" alt="" />
						</a>
						<div class="d-none flex-column-auto d-lg-flex justify-content-between mt-10">
							<div class="opacity-70 font-weight-bold text-white">© 2023 CTI</div>
							<div class="d-flex">
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex flex-column flex-row-fluid position-relative p-7 overflow-hidden">
					<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
						<div class="login-form login-signin">
							<div class="text-center mb-10 mb-lg-20">
								<h3 class="font-size-h1">Iniciar sesión</h3>
								<p class="text-muted font-weight-bold">Ingrese su usuario y contraseña</p>
							</div>
							<form class="form" novalidate="novalidate" id="kt_login_signin_form">
								<div class="form-group">
									<input class="form-control form-control-solid h-auto py-5 px-6 control-autenticacion" type="text" placeholder="Usuario" id="usuario" name="Usuario" autocomplete="off" />
								</div>
								<div class="form-group fv-plugins-icon-container">
									<div class="input-group">
										<input class="form-control form-control-solid h-auto py-5 px-6 control-autenticacion" type="password" placeholder="Contraseña" id="password" name="Password" autocomplete="off">
										<div class="input-group-append">
											<div class="input-group-append">
												<button id="btnEyeLogin" class="btn btn-success border-radius-login anchoBtnEye" type="button">
													<i id="iconoLogin" class="fa fa-eye-slash" aria-hidden="true"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group d-flex flex-wrap justify-content-between align-items-center mt-3">
									<div class="checkbox-inline">
										<label class="checkbox checkbox-outline m-0 text-muted">
											<input id="cbxRecordarCredenciales" name="cbxRecordarCredenciales" type="checkbox">
											<span></span>Recordarme la próxima vez
										</label>
									</div>
								</div>
								<div class="form-group d-flex flex-wrap justify-content-center align-items-center">
									<button type="button" id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 g-recaptcha control-autenticacion">Iniciar sesión</button>
								</div>
							</form>
						</div>
					</div>
					<div class="d-flex d-lg-none flex-column-auto flex-column flex-sm-row justify-content-between align-items-center mt-5 p-5">
						<div class="text-dark-50 font-weight-bold order-2 order-sm-1 my-2">© 2021 Metronic</div>
						<div class="d-flex order-1 order-sm-2 my-2">
							<a href="#" class="text-dark-75 text-hover-primary">Privacy</a>
							<a href="#" class="text-dark-75 text-hover-primary ml-4">Legal</a>
							<a href="#" class="text-dark-75 text-hover-primary ml-4">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
		<script src="~/publico/plugins/global/plugins.bundle.js"></script>
		<script src="~/publico/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="~/publico/js/scripts.bundle.js"></script>
		<script src="~/publico/js/pages/custom/login/login-general.js"></script>
		<script src="~/publico/js/Utilerias.js"></script>
		<script>
			var recordarCredenciales = null
			var cookieUsuario = ('; ' + document.cookie).split(`; usuario=`).pop().split(';')[0];
			var cookiePassword = ('; ' + document.cookie).split(`; password=`).pop().split(';')[0];

			function obtenerValorDeCookies()
			{
				if (cookieUsuario.length > 0){
					$("#usuario").val(cookieUsuario)
					$("#password").val(cookiePassword)
					document.getElementById("cbxRecordarCredenciales").checked = true;
				}
			}

			function procesarCookiesCredenciales(){	
				recordarCredenciales = document.querySelector("#cbxRecordarCredenciales").checked

				if(recordarCredenciales == true)
				{
					document.cookie = "usuario=" + $("#usuario").val()
					document.cookie = "password=" + $("#password").val()
				}
				else
				{
					document.cookie = 'usuario=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
					document.cookie = 'password=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
				}
				loguearse()
			}

			$(document).ready(function(){
				obtenerValorDeCookies()
			
				$("#kt_login_signin_submit").click(function () {
					procesarCookiesCredenciales()
				})
			
				$(".control-autenticacion").keypress(function(event){
				  var keycode = (event.keyCode ? event.keyCode : event.which);
				  let codigoEnter = 13
				  if(keycode == codigoEnter){
					kt_login_signin_submit.click()
				  }
				});

				$("#password").on("keydown", function(e) { 
				  var keyCode = e.keyCode || e.which; 
				  let codigoTab = 9
				  if (keyCode == codigoTab) { 
					 $("#kt_login_signin_submit").focus();
					 e.preventDefault();
				  } 
				});

				$("#btnEyeLogin").click(function(){
				
					let tipoCampo = $("#password").attr("type")
				
					if(tipoCampo == 'text')
					{
						$("#password").attr("type", "password")
						$("#iconoLogin").attr("class", "fa fa-eye-slash")
					}
					else if(tipoCampo == 'password')
					{
						$("#password").attr("type", "text")
						$("#iconoLogin").attr("class", "fa fa-eye")
					}
				})
			})
		 </script>
	</body>
</html>