USE [master]
GO
/****** Object:  Database [InventarioImpresoras]    Script Date: 11/11/2024 03:57:41 p. m. ******/
CREATE DATABASE [InventarioImpresoras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventarioImpresoras', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\InventarioImpresoras.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventarioImpresoras_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\InventarioImpresoras_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventarioImpresoras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventarioImpresoras]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 11/11/2024 03:57:41 p. m. ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[idArea] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[idArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impresoras]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impresoras](
	[idImpresora] [int] IDENTITY(1,1) NOT NULL,
	[numeroSerie] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idMarca] [int] NOT NULL,
	[idModelo] [int] NOT NULL,
	[idArea] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Impresoras] PRIMARY KEY CLUSTERED 
(
	[idImpresora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturas]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturas](
	[idLectura] [int] IDENTITY(1,1) NOT NULL,
	[fechaLectura] [datetime] NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
	[obervaciones] [varchar](250) NOT NULL,
	[numeroCopias] [int] NULL,
	[idImpresora] [int] NULL,
 CONSTRAINT [PK_Lecturas] PRIMARY KEY CLUSTERED 
(
	[idLectura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[idMarca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[idModelo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Modelos] PRIMARY KEY CLUSTERED 
(
	[idModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](100) NULL,
	[apellidoPaterno] [varchar](50) NOT NULL,
	[apellidoMaterno] [varchar](50) NOT NULL,
	[usuario] [varchar](50) NULL,
	[password] [varchar](250) NULL,
	[idRol] [int] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Impresoras]  WITH CHECK ADD  CONSTRAINT [FK_Impresoras_Areas] FOREIGN KEY([idArea])
REFERENCES [dbo].[Areas] ([idArea])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Impresoras] CHECK CONSTRAINT [FK_Impresoras_Areas]
GO
ALTER TABLE [dbo].[Impresoras]  WITH CHECK ADD  CONSTRAINT [FK_Impresoras_Marcas] FOREIGN KEY([idMarca])
REFERENCES [dbo].[Marcas] ([idMarca])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Impresoras] CHECK CONSTRAINT [FK_Impresoras_Marcas]
GO
ALTER TABLE [dbo].[Impresoras]  WITH CHECK ADD  CONSTRAINT [FK_Impresoras_Modelos] FOREIGN KEY([idModelo])
REFERENCES [dbo].[Modelos] ([idModelo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Impresoras] CHECK CONSTRAINT [FK_Impresoras_Modelos]
GO
ALTER TABLE [dbo].[Lecturas]  WITH CHECK ADD  CONSTRAINT [FK_Lecturas_Impresoras] FOREIGN KEY([idImpresora])
REFERENCES [dbo].[Impresoras] ([idImpresora])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lecturas] CHECK CONSTRAINT [FK_Lecturas_Impresoras]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[Roles] ([idRol])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
/****** Object:  StoredProcedure [dbo].[spInsertarAreas]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 07/11/24
-- Description:	Insercion de las areas de la auditoria
-- =============================================
CREATE PROCEDURE [dbo].[spInsertarAreas]
	@nombre varchar(50)
AS
BEGIN
	INSERT INTO Areas (nombre) VALUES (@nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarImpresoras]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 07/11/24
-- Description:	Insercion de las impresoras
-- =============================================
CREATE PROCEDURE [dbo].[spInsertarImpresoras]
	@numeroSerie varchar(50),
	@nombre varchar(50),
	@idMarca int,
	@idModelo int,
	@idArea int
AS
BEGIN
	INSERT INTO Impresoras(numeroSerie, nombre, idMarca, idModelo, idArea, activo) VALUES (@numeroSerie, @nombre, @idMarca, @idModelo, @idArea, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarLecturas]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 07/11/24
-- Description:	Insercion de las lecturas de las impresoras
-- =============================================
CREATE PROCEDURE [dbo].[spInsertarLecturas]
	@fechaLectura dateTime,
	@fechaRegistro dateTime,
	@observaciones varchar(250),
	@numeroCopias int,
	@idImpresora int
AS
BEGIN
	INSERT INTO Lecturas(fechaLectura, fechaRegistro, obervaciones, numeroCopias, idImpresora) VALUES (@fechaLectura, @fechaRegistro, @observaciones, @numeroCopias, @idImpresora);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarMarcas]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 07/11/24
-- Description:	Insercion de marcas de impresoras
-- =============================================
CREATE PROCEDURE [dbo].[spInsertarMarcas]
	@nombre varchar(50)
AS	
BEGIN
	INSERT INTO Marcas(nombre) VALUES(@nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarModelos]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 07/11/24
-- Description:	Insercion de modelos de impresoras
-- =============================================
CREATE PROCEDURE [dbo].[spInsertarModelos]
	@nombre varchar(50)
AS	
BEGIN
	INSERT INTO Modelos(nombre) VALUES(@nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarRoles]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 07/11/24
-- Description:	Insercion de roles
-- =============================================
CREATE PROCEDURE [dbo].[spInsertarRoles]
	@nombre varchar(50)
AS
BEGIN
	INSERT INTO Roles(nombre) VALUES (@nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[spLogin]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 07/11/24
-- Description:	Iniciar sesion
-- =============================================
CREATE PROCEDURE [dbo].[spLogin]

	@usuario varchar(50),
	@password varchar(50)

AS 
BEGIN
	SELECT idUsuario, usuario, idRol FROM Usuarios WHERE usuario = @usuario AND password = @password AND activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[spObtenerRoles]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 11/11/24
-- Description:	Obtener el listado de roles
-- =============================================
CREATE PROCEDURE [dbo].[spObtenerRoles]
AS
BEGIN
	SELECT idRol, nombre FROM Roles;
END
GO
/****** Object:  StoredProcedure [dbo].[spObtenerUsuarios]    Script Date: 11/11/2024 03:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Irineo Calderon
-- Create date: 11/11/24
-- Description:	Obtener informacion basica del usuario
-- =============================================
CREATE PROCEDURE [dbo].[spObtenerUsuarios]
AS
BEGIN
	SELECT 
		t1.idUsuario,
		t1.nombres,
		t1.apellidoPaterno,
		t1.apellidoMaterno,
		t1.usuario,
		t2.idRol,
		t2.nombre AS 'rol',
		t1.activo
			FROM Usuarios AS t1
				INNER JOIN Roles AS t2 ON t2.idRol = t1.idRol; 
END
GO
USE [master]
GO
