@using System.Security.Claims;
@section CSS {
    <link href="~/css/dataTable/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/dataTable/dataTablesPersonalizados.css" rel="stylesheet" type="text/css" />
}
@Html.Partial("~/Views/Shared/_HeaderMobile.cshtml")
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        @Html.Partial("~/Views/Shared/_Menu.cshtml")
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        <div>
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">Consulta de usuarios</h3>
                                </div>
                                <div id="cardBody" class="card-body" style="visibility:hidden;position: relative;z-index: 1;text-align: center;">
                                    <div id="spinner" class="spinner-border" role="status" style="visibility: visible;position: absolute;z-index: 1;top: 40%;">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-2" style="text-align:left;">
                                                <button id="btnAgregar" type="reset" class="btn btn-primary mr-2">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="tablaUsuarios" class="table table-bordered table-hover" style="text-align:center !important;  cursor: pointer !important;">
                                        <thead class="theadDataTable">
                                            <tr>
                                                <th>Nombre completo</th>
                                                <th>Apellido paterno</th>
                                                <th>Apellido materno</th>
                                                <th>Usuario</th>
                                                <th>Rol</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--FINAL DESCARTAR-->
                        <!--
                        <button id="btnModalConsultarUsuario" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCustomScrollable" style="display:none;">
                            Abrir modal
                        </button>
                        <div class="modal fade" id="exampleModalCustomScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Consulta de empleado</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div data-scroll="true" data-height="650">
                                            <h4>Datos generales:</h4>
                                            <p id="divNombreCompleto"><strong>Nombre completo: </strong></p>
                                            <p id="divFechaNacimiento"><strong>Fecha de nacimiento: </strong></p>
                                            <p id="divRFC"><strong>RFC: </strong></p>
                                            <p id="divCURP"><strong>CURP: </strong></p>
                                            <p id="divGenero"><strong>Genero: </strong></p>
                                            <p id="divTipoSangre"><strong>Tipo de sangre: </strong></p>
                                            <p id="divEstadoCivil"><strong>Estado civil: </strong></p>
                                            <p id="divTieneHijos">Tiene hijos: </p>
                                            <div class="separator separator-dashed my-5"></div>
                                            <h4>Domicilio</h4>
                                            <p id="divCalle"><strong>Calle: </strong></p>
                                            <p id="divEntreCalles"><strong>Entre calles: </strong></p>
                                            <p id="divNumeroExterior"><strong>Número exterior: </strong></p>
                                            <p id="divNumeroInterior"><strong>Número interior: </strong></p>
                                            <p id="divColonia"><strong>Colonia: </strong></p>
                                            <p id="divCodigoPostal"><strong>Codigo postal: </strong></p>
                                            <div class="separator separator-dashed my-5"></div>
                                            <h4>Profesión</h4>
                                            <p id="divProfesion" style="display:none;"><strong>Profesión: </strong></p>
                                            <p id="divCarreraTrunca" style="display:none;"><strong>Carrera trunca:</strong></p>
                                            <p id="divPosgrado" style="display:none;"><strong>Posgrado: </strong></p>
                                            <p id="divPosgradoEnCurso" style="display:none;"><strong>Posgrado en curso: </strong></p>
                                            <div class="separator separator-dashed my-5"></div>
                                            <h4>Contacto</h4>
                                            <p id="divEmailPersonal"><strong>Correo electrónico personal: </strong></p>
                                            <p id="divEmailInstitucional"><strong>Correo electrónico institucional: </strong></p>
                                            <p id="divTelefonoCasa"><strong>Telefono casa: </strong></p>
                                            <p id="divTelefonoMovil"><strong>Telefono movil: </strong></p>
                                            <div class="separator separator-dashed my-5"></div>
                                            <h4>Contacto emergencia</h4>
                                            <p id="divNombreContactoEmergencia"><strong>Nombre completo: </strong></p>
                                            <p id="divTelefonoContactoEmergencia"><strong>Teléfono: </strong></p>
                                            <p id="divParentescoContactoEmergencia"><strong>Parentesco:</strong></p>
                                            <div class="separator separator-dashed my-5"></div>
                                            <h4>Conyugue</h4>
                                            <p id="divNombreConyugue"><strong>Conyugue: </strong></p>
                                            <p id="divTelefonoConyugue"><strong>Teléfono: </strong></p>
                                            <p id="divFechaMatrimonio"><strong>Fecha de matrimonio: </strong></p>
                                            <div class="separator separator-dashed my-5"></div>
                                            <h4>Padres</h4>
                                            <table class="table table-bordered">
                                                <tr style="background-color:#7e82994f">
                                                    <th>Nombre</th>
                                                    <th>Domicilio</th>
                                                    <th>Ocupación</th>
                                                    <th>Vive/Finado</th>
                                                </tr>
                                                <tbody id="tbodyPadres">
                                                </tbody>
                                            </table>
                                            <div class="separator separator-dashed my-5"></div>
                                            <h4>Familiares trabajando en gobierno del estado</h4>
                                            <table class="table table-bordered">
                                                <tr style="background-color:#7e82994f">
                                                    <th>Número de empleado</th>
                                                    <th>Nombre</th>
                                                    <th>Parentesco</th>
                                                    <th>Dependencia</th>
                                                </tr>
                                                <tbody id="tbodyFamiliarGobierno">
                                                </tbody>
                                            </table>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!--INICIO DESCARTAR-->
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/dataTable/jquery-3.5.1.js"></script>
    <script src="~/js/dataTable/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTable/dataTables.bootstrap5.min.js"></script>
    <script>
        function llenarTablaUsuarios() {
            $.ajax({
                url: "/Usuario/ConsultarUsuarios",
                type: "POST",
                success: function (response) {
                    console.log("response: \n")
                    console.log(response)
                    
                    $("#tablaUsuarios").DataTable({
                        order: [[0, 'desc']],
                        destroy: true,
                        data: response,
                        processing: true,
                        language: {
                            url: '../json/es_ES.json',
                        },
                        responsive: true,
                        "columns": [
                            { "data": "nombres" },
                            { "data": "apellidoPaterno" },
                            { "data": "apellidoMaterno" },
                            { "data": "usuario" },
                            {
                                "data": function (data) {
                                    return data.roles[0].rol
                                }
                            },
                            {
                                "data": function (data) {
                                    let opciones = ''
                                    
                                    if (data.activo == true) {
                                        opciones += '<span class="label label-lg label-light-success label-inline" style="color: black;">Activo</span>'
                                    } else {
                                        opciones += '<span class="label label-lg label-light-danger label-inline" style="color: black;">Inactivo</span>'
                                    }
                                    return opciones
                                    
                                }
                            },
                            {
                                "data": function(data) {
                                    let opciones = ''

                                    opciones += '<form method="POST" action="/Empleado/ViewEditar?Emp=' + data.empleado_Id + '" style="display:inline;">'
                                    opciones += '   <input type="text" value=' + data.empleado_Id + ' style="display:none;"/>'
                                    opciones += '   <button type="submit" style="color:black;" class="btn btn-icon btn-light btn-sm">'
                                    opciones += '       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">'
                                    opciones += '           <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>'
                                    opciones += '       </svg>'
                                    opciones += '   </button>'
                                    opciones += '   <button data-familiarGobiernoId="0" data-empleadoId="0" data-nombre="0" data-numeroEmp="0" data-parentescoId="0" data-dependencia="0" style="color:black;" class="btn btn-icon btn-light btn-sm" onclick="mostrarMensajeDesactivar(this); return false;">'
                                    opciones += '       <svg style="color:red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">'
                                    opciones += '           <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>'
                                    opciones += '       </svg>'
                                    opciones += '   </button>'
                                    opciones += '</form>'

                                    return opciones
                                }
                            }
                        ],
                    });
                }
            })
        }
        //INICIO ACTIVAR
        function mostrarMensajeDesactivar(elemento) {
            /*
            let idFamiliarGobierno = $(elemento).attr("data-familiarGobiernoId")
            //INICIO
            Swal.fire({
                title: "¿Estas seguro en eliminarlo?",
                //text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si",
                cancelButtonText: "No"
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "/Empleado/DesactivarFamiliarGobierno",
                        data: { familiarGobierno_id: idFamiliarGobierno },
                        type: "POST",
                        success: function (response) {
                            if (response > 0) {
                                consultarTablaFamiliaresGobierno()
                                swal.fire({
                                    icon: "success",
                                    buttonsStyling: false,
                                    confirmButtonText: "Ok!",
                                    title: "Registro eliminado con éxito!",
                                    customClass: {
                                        confirmButton: "btn font-weight-bold btn-light-primary"
                                    }
                                }).then(function () {
                                    //KTUtil.scrollTop();
                                });
                            } else {
                                swal.fire({
                                    icon: "error",
                                    buttonsStyling: false,
                                    confirmButtonText: "Ok!",
                                    title: "Ocurrio un error, por favor contacte a su administrador!",
                                    customClass: {
                                        //confirmButton: "btn font-weight-bold btn-light-primary"
                                    }
                                }).then(function () {
                                    KTUtil.scrollTop();
                                });
                            }
                        }
                    })

                }
            });
            //FINAL
            */
        }
        //FINAL DESACTIVAR
        /*
        function mensajeDesactivar() {
            Swal.fire({
                text: "¿Estas seguro en desactivar a este empleado?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, desactivarlo!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Desactivado!",
                        text: "Empleado desactivado con éxito",
                        icon: "success"
                    });
                }
            });
            return false
        }
        */
        /*
        function consultarDatosGenerales(idEmpleado) {
            $.ajax({
                url: "/Empleado/ConsultarEmpleados",
                data: { idEmpleado: idEmpleado },
                type: "POST",
                success: function (response) {

                    if (response.length > 0) {
                        //Datos Generales
                        $("#divNombreCompleto").html("<strong>Nombre completo: </strong>" + response[0].nombre + " " + response[0].apellidoPaterno + " " + response[0].apellidoMaterno)
                        let fechaNacimiento = response[0].fechaNacimiento.split('T')
                        $("#divFechaNacimiento").html("<strong>Fecha de nacimiento: </strong>" + fechaNacimiento[0].split('-')[2] + "/" + fechaNacimiento[0].split('-')[1] + "/" + fechaNacimiento[0].split('-')[0])
                        $("#divRFC").html("<strong>RFC: </strong>" + response[0].rfc)
                        $("#divCURP").html("<strong>CURP: </strong>" + response[0].curp)
                        let genero = null
                        if (response[0].genero == 'H') {
                            genero = "Hombre"
                        } else if (response[0].genero == 'M') {
                            genero = "Mujer"
                        }
                        $("#divGenero").html("<strong>Genero: </strong>" + genero)
                        $("#divTipoSangre").html("<strong>Tipo de sangre: </strong>" + response[0].tipoSanguineo[0].tipoSanguineo)
                        $("#divEstadoCivil").html("<strong>Estado civil: </strong>" + response[0].estadoCivil)
                        idEstadoCivil = response[0].estadoCivil_Id
                        //Domicilio
                        $("#divCalle").html("<strong>Calle: </strong>" + response[0].domicilio[0].calle)
                        $("#divEntreCalles").html("<strong>Entre calles: </strong>" + response[0].domicilio[0].entreCalles)
                        $("#divNumeroExterior").html("<strong>Número exterior: </strong>" + response[0].domicilio[0].numeroExterior)
                        $("#divNumeroInterior").html("<strong>Número interior: </strong>" + response[0].domicilio[0].numeroInterior)
                        $("#divColonia").html("<strong>Colonia: </strong>" + response[0].domicilio[0].colonia)
                        if (response[0].domicilio[0].codigoPostal > 0) {
                            $("#divCodigoPostal").html("<strong>Código postal: </strong>" + response[0].domicilio[0].codigoPostal)
                        } else {
                            $("#divCodigoPostal").html("<strong>Código postal: </strong>")
                        }

                        //profesion y posgrado
                        if (response[0].profesion[0].profesion_Id > 0) {
                            $("#divProfesion").show()
                            $("#divProfesion").html("<strong>Profesion: </strong>" + response[0].profesion[0].profesion)

                            if (response[0].posgrado[0].posgrado_Id > 0) {
                                $("#divPosgrado").show()
                                $("#divPosgrado").html("<strong>Posgrado: </strong>" + response[0].posgrado[0].posgrado)
                            }

                            if (response[0].posgrado[0].posgrado_En_Curso.length > 0) {
                                $("#divPosgradoEnCurso").show()
                                $("#divPosgradoEnCurso").html("<strong>Posgrado en curso: </strong>" + response[0].posgrado[0].posgrado_En_Curso)
                            }
                        } else {
                            $("#divCarreraTrunca").show()
                            $("#divCarreraTrunca").html("<strong>Carrera trunca: </strong>" + response[0].profesion[0].carrera_Trunca)

                        }

                        //contacto
                        $("#divEmailPersonal").html("<strong>Correo electrónico personal: </strong>" + response[0].contacto[0].correoElectronico)
                        $("#divEmailInstitucional").html("<strong>Correo electrónico institucional: </strong>" + response[0].contacto[0].correoElectronicoInstitucional)
                        $("#divTelefonoCasa").html("<strong>Teléfono de casa: </strong>" + response[0].contacto[0].telefono_Casa)
                        $("#divTelefonoMovil").html("<strong>Teléfono de móvil: </strong>" + response[0].contacto[0].telefono_Movil)

                        //conyugue
                        //divEstadoCivil
                        //estadoCivil_Id

                        //hijos
                        if (response[0].tieneHijos == true) {
                            $("#divTieneHijos").html("<strong>Tiene hijos: </strong> Si")
                        } else {
                            $("#divTieneHijos").html("<strong>Tiene hijos: </strong> No")
                        }

                    }
                }
            })
        }
        */
       /*
        function consultarContactoEmergencia(idEmpleado) {
            $.ajax({
                url: "/Empleado/ConsultarContactoEmergencia",
                data: { idEmpleado: idEmpleado },
                type: "POST",
                success: function (response) {
                    if (response.length > 0) {
                        $("#divNombreContactoEmergencia").html("<strong>Nombre completo: </strong>" + response[0].nombre)
                        $("#divTelefonoContactoEmergencia").html("<strong>Teléfono: </strong>" + response[0].telefono)
                        $("#divParentescoContactoEmergencia").html("<strong>Parentesco: </strong>" + response[0].parentesco)
                    }
                }
            })
        }
        */
       /*
        function consultarTablaFamiliaresGobierno(idEmpleado) {
            $.ajax({
                url: "/Empleado/ConsultarFamiliaresGobierno",
                data: { idEmpleado: idEmpleado },
                success: function (response) {
                    let append = ""

                    $.each(response, function (index, value) {
                        append += '<tr>'
                        append += ' <td>' + value.numeroEmpleado + '</td>'
                        append += ' <td>' + value.nombre + '</td>'
                        append += ' <td>' + value.parentesco[0].parentesco + '</td>'
                        append += ' <td>' + value.dependencia + '</td>'
                        append += '</tr>'
                    })
                    $("#tbodyFamiliarGobierno").html(append)
                }
            })
        }
        */
       /*
        function consultarTablaPadres(idEmpleado) {

            $.ajax({
                url: "/Empleado/ConsultarPadres",
                data: { idEmpleado: idEmpleado },
                success: function (response) {
                    let append = ""

                    $.each(response, function (index, value) {
                        append += '<tr>'
                        append += '	<td>' + value.nombre + '</td>'
                        append += '	<td>' + value.domicilio + '</td>'
                        append += '	<td>' + value.ocupacion + '</td>'
                        if (value.vivo == true) {
                            append += '	<td>Vivo</td>'
                        } else if (value.vivo == false) {
                            append += '	<td>Finado</td>'
                        }
                        append += '</tr>'
                    })
                    $("#tbodyPadres").html(append)
                }
            })
        }
        */
       /*
        function consultarConyugue(idEmpleado) {
            $.ajax({
                url: "/Empleado/ConsultarConyugues",
                data: { idEmpleado: idEmpleado },
                type: "POST",
                success: function (response) {
                    if (response.length > 0) {
                        if (idEstadoCivil == 1) {
                            $("#divNombreConyugue").html("<strong>Conyugue: </strong>" + response[0].nombre)
                            $("#divTelefonoConyugue").html("<strong>Teléfono: </strong>" + response[0].telefono)

                            if (response[0].fecha_Matrimonio.length > 0) {
                                let fechaMatrimonio = response[0].fecha_Matrimonio.split('T')
                                let fechaMatrimonioProcesada = fechaMatrimonio[0].split('-')[2] + "/" + fechaMatrimonio[0].split('-')[1] + "/" + fechaMatrimonio[0].split('-')[0]

                                if (fechaMatrimonioProcesada == "01/01/1900") {
                                    $("#divFechaMatrimonio").html("<strong>Fecha de matrimonio: </strong>")
                                } else {
                                    $("#divFechaMatrimonio").html("<strong>Fecha de matrimonio: </strong>" + fechaMatrimonio[0].split('-')[2] + "/" + fechaMatrimonio[0].split('-')[1] + "/" + fechaMatrimonio[0].split('-')[0])
                                }

                            }
                        }
                    }
                }
            })
        }
        */
       /*
        function limpiarCamposModal() {
            //Datos generales
            $("#divNombreCompleto").html("<strong>Nombre completo: <strong>")
            $("#divFechaNacimiento").html("<strong>Fecha de nacimiento: <strong>")
            $("#divRFC").html("<strong>RFC: <strong>")
            $("#divCURP").html("<strong>CURP: <strong>")
            $("#divGenero").html("<strong>Genero: <strong>")
            $("#divTipoSangre").html("<strong>Tipo de sangre: <strong>")
            $("#divEstadoCivil").html("<strong>Genero: <strong>")

            //Domicilio
            $("#divCalle").html("<strong>Calle: <strong>")
            $("#divEntreCalles").html("<strong>Entre calles: <strong>")
            $("#divNumeroExterior").html("<strong>Número exterior: <strong>")
            $("#divNumeroInterior").html("<strong>Número interior: <strong>")
            $("#divColonia").html("<strong>Colonia: <strong>")
            $("#divCodigoPostal").html("<strong>Codigo postal: <strong>")

            //profesion
            $("#divProfesion").html("<strong>Profesión: </strong>")
            $("#divCarreraTrunca").html("<strong>Carrera trunca: </strong>")
            $("#divPosgrado").html("<strong>Posgrado: </strong>")
            $("#divPosgradoEnCurso").html("<strong>Posgrado en curso: </strong>")

            //contacto
            $("#divEmailPersonal").html("<strong>Correo electrónico personal: </strong>")
            $("#divEmailInstitucional").html("<strong>Correo electrónico institucional: </strong>")
            $("#divTelefonoCasa").html("<strong>Teléfono de casa: </strong>")
            $("#divTelefonoMovil").html("<strong>Teléfono de móvil: </strong>")

            //contacto emergencia
            $("#divNombreContactoEmergencia").html("<strong>Nombre completo: </strong>")
            $("#divTelefonoContactoEmergencia").html("<strong>Teléfono: </strong>")
            $("#divParentescoContactoEmergencia").html("<strong>Parentesco: </strong>")

            //conyugue
            $("#divNombreConyugue").html("<strong>Conyugue: </strong>")
            $("#divTelefonoConyugue").html("<strong>Teléfono: </strong>")
            $("#divFechaMatrimonio").html("<strong>Fecha de matrimonio: </strong>")

        }
        */
       /*
        function modalConsultarInformacionEmpleado(idEmpleado) {
            limpiarCamposModal()
            consultarDatosGenerales(idEmpleado)
            consultarContactoEmergencia(idEmpleado)
            consultarTablaPadres(idEmpleado)
            consultarTablaFamiliaresGobierno(idEmpleado)
            consultarConyugue(idEmpleado)
            $('#btnModalConsultarEmpleado').trigger('click')
            return false
        }
        */
        $(document).ready(function () {
            //idRolEmpleadoSesion = $("#txtRolIdEmpleadoSesion").val()
            $('#tablaUsuarios').DataTable();

            llenarTablaUsuarios()

            setTimeout(() => {
                $("#spinner").hide();
                $("#cardBody").css("visibility", "visible");
            }, "500");

            $("#btnRegistrar").click(function () {
                window.location.href = "/Usuario/ViewAgregar"
            })
        })
    </script>
}
