@using System.Security.Claims;
@section CSS {
    <link href="~/css/dataTable/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/dataTable/dataTablesPersonalizados.css" rel="stylesheet" type="text/css" />
}
@Html.Partial("~/Views/Shared/_HeaderMobile.cshtml")
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        @Html.Partial("~/Views/Shared/_Menu.cshtml")
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        <div>
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">Consulta de impresora</h3>
                                </div>
                                <div id="cardBody" class="card-body" style="visibility:hidden;position: relative;z-index: 1;text-align: center;">
                                    <div id="spinner" class="spinner-border" role="status" style="visibility: visible;position: absolute;z-index: 1;top: 40%;">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-2" style="text-align:left;">
                                                <button id="btnAgregar" type="reset" class="btn btn-primary mr-2">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="tablaImpresoras" class="table table-bordered table-hover" style="text-align:center !important;  cursor: pointer !important;">
                                        <thead class="theadDataTable">
                                            <tr>
                                                <th>Número de serie</th>
                                                <th>Nombre</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Area</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/dataTable/jquery-3.5.1.js"></script>
    <script src="~/js/dataTable/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTable/dataTables.bootstrap5.min.js"></script>
    <script>
        function llenarTablaImpresoras() {
            $.ajax({
                url: "/Impresora/ConsultarImpresoras",
                type: "POST",
                success: function (response) {

                    $("#tablaImpresoras").DataTable({
                        order: [[0, 'desc']],
                        destroy: true,
                        data: response,
                        processing: true,
                        language: {
                            url: '../json/es_ES.json',
                        },
                        responsive: true,
                        "columns": [
                            { "data": "numeroSerie" },
                            { "data": "nombre" },
                            {
                                "data": function (data) {
                                    return data.marcas[0].nombre
                                }
                            },
                            {
                                "data": function (data) {
                                    return data.modelos[0].nombre
                                }
                            },
                            {
                                "data": function (data) {
                                    return data.areas[0].nombre
                                }
                            },
                            {
                                "data": function (data) {
                                    let opciones = ''

                                    if (data.activo == true) {
                                        opciones += '<span class="label label-lg label-light-success label-inline" style="color: black;">Activo</span>'
                                    } else {
                                        opciones += '<span class="label label-lg label-light-danger label-inline" style="color: black;">Inactivo</span>'
                                    }
                                    return opciones

                                }
                            },
                            
                            {
                                "data": function(data) {
                                    let opciones = ''

                                    opciones += '<form method="POST" action="/Impresora/ViewEditar?Impresora=' + data.idImpresora + '" style="display:inline;">'
                                    opciones += '   <button type="submit" style="color:black;" class="btn btn-icon btn-light btn-sm">'
                                    opciones += '       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">'
                                    opciones += '           <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>'
                                    opciones += '       </svg>'
                                    opciones += '   </button>'

                                    if (data.activo == true) {
                                    opciones += '   <button data-impresoraId="' + data.idImpresora + '" data-empleadoId="0" data-nombre="0" data-numeroEmp="0" data-parentescoId="0" data-dependencia="0" style="color:black;" class="btn btn-icon btn-light btn-sm" onclick="mostrarMensajeDesactivar(this); return false;">'
                                    opciones += '       <svg style="color:red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">'
                                    opciones += '           <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>'
                                    opciones += '       </svg>'
                                    opciones += '   </button>'
                                    }else{
                                        opciones += '   <button data-impresoraId="' + data.idImpresora + '" data-empleadoId="0" data-nombre="0" data-numeroEmp="0" data-parentescoId="0" data-dependencia="0" style="color:black;" class="btn btn-icon btn-light btn-sm" onclick="mostrarMensajeActivar(this); return false;">'
                                        opciones += ' <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">'
                                        opciones += '   <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>'
                                        opciones += '   <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>'
                                        opciones += '  </svg>'
                                        opciones += '   </button>'
                                    }

                                    opciones += '</form>'

                                    return opciones
                                }
                            }
                            
                        ],
                    });
                }
            })
        }
        
        function mostrarMensajeActivar(elemento) {

            let idImpresora = $(elemento).attr("data-impresoraId")

            Swal.fire({
                title: "¿Estas seguro en activar?",
                //text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si",
                cancelButtonText: "No"
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "/Impresora/Activar",
                        data: { idImpresora: idImpresora },
                        type: "POST",
                        success: function (response) {
                            if (response > 0) {
                                llenarTablaImpresoras()
                                swal.fire({
                                    icon: "success",
                                    buttonsStyling: false,
                                    confirmButtonText: "Ok!",
                                    title: "Registro activado con éxito!",
                                    customClass: {
                                        confirmButton: "btn font-weight-bold btn-light-primary"
                                    }
                                }).then(function () {
                                    //KTUtil.scrollTop();
                                });
                            } else {
                                swal.fire({
                                    icon: "error",
                                    buttonsStyling: false,
                                    confirmButtonText: "Ok!",
                                    title: "Ocurrio un error, por favor contacte a su administrador!",
                                    customClass: {
                                        //confirmButton: "btn font-weight-bold btn-light-primary"
                                    }
                                }).then(function () {
                                    KTUtil.scrollTop();
                                });
                            }
                        }
                    })

                }
            });
        }
        function mostrarMensajeDesactivar(elemento) {

            let idImpresora = $(elemento).attr("data-impresoraId")

            Swal.fire({
                title: "¿Estas seguro en desactivar?",
                //text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si",
                cancelButtonText: "No"
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "/Impresora/Desactivar",
                        data: { idImpresora: idImpresora },
                        type: "POST",
                        success: function (response) {
                            if (response > 0) {
                                llenarTablaImpresoras()
                                swal.fire({
                                    icon: "success",
                                    buttonsStyling: false,
                                    confirmButtonText: "Ok!",
                                    title: "Registro desactivado con éxito!",
                                    customClass: {
                                        confirmButton: "btn font-weight-bold btn-light-primary"
                                    }
                                }).then(function () {
                                    //KTUtil.scrollTop();
                                });
                            } else {
                                swal.fire({
                                    icon: "error",
                                    buttonsStyling: false,
                                    confirmButtonText: "Ok!",
                                    title: "Ocurrio un error, por favor contacte a su administrador!",
                                    customClass: {
                                        //confirmButton: "btn font-weight-bold btn-light-primary"
                                    }
                                }).then(function () {
                                    KTUtil.scrollTop();
                                });
                            }
                        }
                    })

                }
            });
        }
        
        $(document).ready(function () {

            $('#tablaImpresoras').DataTable();

            llenarTablaImpresoras()

            setTimeout(() => {
                $("#spinner").hide();
                $("#cardBody").css("visibility", "visible");
            }, "500");

            $("#btnAgregar").click(function (){ 
                window.location.href = "/Impresora/ViewAgregar"
            })
        })
    </script>
}
